{% extends 'base.html.twig' %}

{% block title "Registration" %}

{% block body %}
    <div class="container w-50">
        <h1 class="mb-4">Registration Form</h1>
        {{ form(form) }}
    </div>
{% endblock %}
